<nav class="main-nav">
    <ul>
        <li><a href="/categories/">Categories <span class="arrow">v</span></a></li>
        <li><a href="/tips-advices/">Tips & Advices</a></li>
        <li><a href="/daily-ideas/">Daily Ideas</a></li>
    </ul>
</nav>
